images/
dataset/images/
dataset/divided_sets
resized_dataset/images
resized_dataset/divided_sets
.python-version
.vscode
.pylintrc
*.jpg
*.png
__pycache__/
models
keras-vgg16-classification/small_last4.h5
.code2pdf
keras-yolo/output
keras-yolo/model_data
